<% if current_user = @user.id %><br />
  <h2><%= @user.username %>'s Profile</h2>
    <p>Email address:  <%= @user.email %></p>
    <p>Bio:  <%= @user.bio %></p><br />


<% if @user.patterns != nil %>
  <p>You can edit your profile or look at a list of all patterns below.</p>

    <%= link_to "Edit your profile", edit_user_path %>
    <br><br/>


<% else %>
  <h3>Your patterns: </h3>
    <% @user.patterns.each_with_index do |pattern, i| %>
      <p><%= i + 1 %>. <%= link_to pattern.name.capitalize, pattern_path(pattern) %></p> <!--hijack this link? -->
    <% end %>
      <br />

<% end %>

<br />

    <%= link_to "List of All Patterns", patterns_path, :class => "pattern_list" %>
    <br />

    <div id="all_patterns">
      <%= yield %>
    </div>

<% end %>
