<%= form_for @pattern do |f| %>
  <% if @pattern.errors.any? %>
    <div id="error_explanation">
    <div class="alert alert-danger">
      <h3><%= pluralize(@pattern.errors.count, "error") %> prohibited this pattern from being saved: </h3>
    </div>
      <ul>
        <% @pattern.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.label :name, "Type in Your Pattern Name" %><br />
    <%= f.text_field :name, class: "form-control" %>
    <br />
    <%= f.label :needles %><br />
    <%= f.text_field :needles, class: "form-control" %>
    <br />
    <%= f.label :yarn %><br />
    <%= f.text_field :yarn, class: "form-control" %>
    <br />
    <%= f.label :weight %><br />
    <%= f.text_field :weight, class: "form-control" %>
    <br />
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity, class: "form-control"%>
    <br />
    <%= f.label :materials, "Any other materials to complete the project:" %><br></br>
    <%= f.text_area :materials, class: "form-control" %><br />
    <br />
    <%= f.label :content, "Pattern Directions" %><br />
    <%= f.text_area :content, class: "form-control" %>
    <br />
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

    <%= f.submit class: "btn btn-primary" %>
<% end %>
  </div>
</div>
