<div class="row">
  <div class="col-md-6 col-md-offset-3">

<%= form_for @pattern do |f| %>

  <% if @pattern.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
    <h3><%= pluralize(@pattern.errors.count, "error") %> prohibited this pattern from being saved: </h3>
      </div>
      <ul>
        <% @pattern.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div id="scroll-list" style="overflow:scroll; height:500px;">
  <%= f.label :name, "Type in Your Pattern Name" %><br></br>
  <%= f.text_field :name, class: "form-control" %>

  <br></br>

  <%= f.fields_for :needles do |needle_builder| %>

    <%= needle_builder.label :name, "Needle Type" %><br></br>
    <%= needle_builder.text_field :name, class: "form-control" %><br></br>

    <%= needle_builder.label :us_size %><br></br>
    <%= needle_builder.number_field :us_size, class: "form-control" %><br></br>

  <% end %>

  <%= f.fields_for :yarn do |yarn_builder| %>

    <%= yarn_builder.label :name, "Yarn Name" %><br></br>
    <%= yarn_builder.text_field :name, class: "form-control" %><br></br>

    <%= yarn_builder.label :weight, "Yarn Weight" %><br></br>
    <%= yarn_builder.text_field :weight, class: "form-control" %><br></br>

    <%= yarn_builder.label :quantity, "Yarn Quantity" %><br></br>
    <%= yarn_builder.number_field :quantity, class: "form-control" %><br></br>

  <% end %>

  <!-- this may be a good place for the requirement:
  The "through" part of the has_many through includes at least one
  user submittable attribute (attribute_name e.g. ingredients.quantity -->
  <%= f.label :materials, "Any other materials to complete the project:" %><br></br>
  <%= f.text_area :materials, class: "form-control" %><br></br>

  <%= f.label :content, "Pattern Directions" %><br></br>
  <%= f.text_area :content, class: "form-control" %>
  <br></br>

  <%= f.submit class: "btn btn-primary" %>
<% end %>

</div>
</div>
</div>


<!-- Eventually put in comments, yarns and needles and possibly other notions like ribbon,
sewing needles, tapestry needles, etc. Need another table for other notions. -->
