<div class="row">
  <div class="col-md-6 col-md-offset-3">
<%= form_for (@pattern) do |f| %>
  <% if @pattern.errors.any? %>
    <div id="error_explanation">
      <div class="alert alert-danger">
    <h3><%= pluralize(@pattern.errors.count, "error") %> prohibited this pattern from being saved: </h3>
      </div>
      <ul>
        <% @pattern.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name, "Pattern Name" %><br></br>
  <%= f.text_field :name, class: "form-control" %>

  <br></br>
  <!-- this may be a good place for the requirement:
  The "through" part of the has_many through includes at least one
  user submittable attribute (attribute_name e.g. ingredients.quantity -->

  <%= f.label :content, "Pattern Directions" %><br></br>
  <%= f.text_area :content, class: "form-control" %>
  <br></br>
  <%= f.label :needle_id, "Select knitting needles for your pattern: ", class: "col-form-label" %><br></br>
  <%= f.collection_select :needle, Needle.all, :id, :name, include_blank: true, class: "form-control" %>
  <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %>
  <br>
  <p>or, add knitting needles that are not included in this list:</p>
  <%= link_to "Add Knitting Needles", new_needle_path %>
  <br></br>
  <%= f.submit class: "btn btn-primary" %>
<% end %>

</div>
</div>


<!-- Eventually put in comments, yarns and needles and possibly other notions like ribbon,
sewing needles, tapestry needles, etc. Need another table for other notions. -->
