<h3><%= @pattern.name %></h3>

<h5>Materials and notions:</h5>
  <% @other_notions.each do |notion| %>
    <%= notion.notions %><br></br>
  <% end %>

<h5>Knitting Needles:</h5>
  <% @needles.each do |needle| %>
      <%= needle.name %>
      <%= needle.us_size %><br></br>
  <% end %>

<h5>Yarns:</h5>
  <% @yarns.each do |yarn| %>
    <%= yarn.name %><br>
    <%= yarn.weight %><br>
    <%= yarn.quantity %><br></br>
  <% end %>

<p>Directions: </p>
<%= @pattern.content %>

<br></br>

Comments:<br></br>
<ul>
  <% @pattern.grouped_comments.each do |username, comments| %>
    <li><%= link_to username, user_path(comments.first.user) %> says:
      <ul>
        <% comments.each do |comment| %>
          <li><%= comment.content %></li>
        <% end %>
      </ul>
  <% end %>
</ul>

<%= form_for @comment do |f| %>
  <%= f.label :create_new_comment %><br>
  <%= f.text_area :content %><br>

  <%= f.label :user %>
  <%= f.collection_select :user_id, User.all, :id, :username, include_blank: true %><br>


  <%= f.text_area :pattern_id, value: @pattern.id, hidden: true %>

  <%= f.submit %>
<% end %>

<% if current_user == @pattern.user %>

<br></br>
<%= link_to "Edit this Pattern", edit_pattern_path %>

<br></br>

<%= link_to "Destroy", pattern_path, method: :delete, alert: { confirm: "Are you sure?" } %>

<% end %>

<br></br>

<%= link_to "Back to Pattern List", patterns_path %>
