<h3><%= @pattern.name %></h3>

<br></br>

<h5>Materials and notions:</h5>
<%= @pattern.materials %>

<h5>Knitting Needles:</h5>
<%= @pattern.needles.name %><br>

needle size here

<h5>Yarns:</h5>
  <%= @pattern.yarns.name %><br>
weight <br>
quantity <br></br>

<p>Directions: </p>
<%= @pattern.content %><br></br>

Comments:<br></br>
<ul>
  <% @pattern.grouped_comments.each do |username, comments| %>
    <li><%= link_to username, user_path(comments.first.user) %> says:
      <ul>
        <% comments.each do |comment| %>
          <li><%= comment.content %></li>
        <% end %>
      </ul>
  <% end %>
</ul>

<%= form_for @comment do |f| %>
  <%= f.label :create_new_comment %><br>
  <%= f.text_area :content %><br>

  <%= f.label :user %>
  <%= f.collection_select :user_id, User.all, :id, :username, include_blank: true %><br>


  <%= f.text_area :pattern_id, value: @pattern.id, hidden: true %>

  <%= fields_for :favorite_patterns do |fp_builder| %>
    <%= fp_builder.label :favorite_patterns, "Make this pattern your favorite" %>
    <%= fp_builder.check_box :favorite_patterns, :checked => resolve_boolean_parameter(:user, :favorite_patterns, default: false)  %>
  <% end %>

  <%= f.submit %>
<% end %>

<% if current_user == @pattern.user %>

<br></br>
<%= link_to "Edit this Pattern", edit_pattern_path %>

<br></br>

<%= link_to "Destroy", pattern_path, method: :delete, alert: { confirm: "Are you sure?" } %>

<% end %>

<br></br>

<%= link_to "Back to Pattern List", patterns_path %>
