

<h3><%= @pattern.name %></h3>

<h4>Materials and notions:</h4>
<h5>Knitting Needles</h5>
<%= @needle.name %>
<%= @needle.us_size %>

<p>Directions: </p>
<%= @pattern.content %>

<br></br>

<% if current_user == @pattern.user %>

<br></br>
<%= link_to "Edit this Pattern", edit_pattern_path %>

<br></br>

<%= link_to "Destroy", pattern_path, method: :delete, alert: { confirm: "Are you sure?" } %>

<% end %>

<br></br>

<%= link_to "Back to Pattern List", patterns_path %>
