

<h3><%= @pattern.name %></h3>

<p>Materials and notions</p>

<p>Directions: </p>
<%= @pattern.content %>

<br></br>

<% if current_user == @pattern.user %>

<br></br>
<%= link_to "Edit this Pattern", edit_pattern_path %>

<br></br>

<%= link_to "Destroy", pattern_path, method: :delete, alert: { confirm: "Are you sure?" } %>

<% end %>

<br></br>

<%= link_to "Back to Pattern List", patterns_path %>
