<br />
<h3><%= @pattern.name %></h3>

<h4>Materials and notions:</h4>
  <%= @pattern.materials %>

<h4>Knitting Needles:</h4>
  <%= @pattern.needles %>

<h4>Yarns:</h4>
  <p><%= @pattern.yarn %></p>
  <p>Yarn weight: <%= @pattern.weight %></p>
  <p>Yarn quantity: <%= @pattern.quantity %></p>

<h4>Directions: </h4>
  <p><%= @pattern.content %></p>

<h3>Comments</h3>

<%= form_for [@pattern, Comment.new] do |f| %>
<%= f.text_area :content, placeholder: "Add a comment" %><br />
<%= f.submit "Add Comment" %>
<% end %>

<ul><%= render partial: "comments/comment", collection: @pattern.comments %></ul>



<h4>Click the button below if you want to 'favorite' this pattern: </h4>

<%= button_to "Add to Favorites", pattern_favorite_path(@pattern) %>

<% if @favorited %>
  <%= link_to "Favorite", pattern_favorite_path(@pattern, type: "favorite"), method: :put %>
  <%= link_to "Unfavorite", pattern_favorite_path(@pattern, type: "unfavorite"), method: :put %>
<% end %>


<br />

This pattern has been favorited <%= @pattern.favorites_count %> times. <br>

<% if current_user == @pattern.user %>
  <br />
  <%= link_to "Edit this Pattern", edit_pattern_path %>
  <br />
  <%= link_to "Destroy", pattern_path, method: :delete, alert: { confirm: "Are you sure?" } %>
<% end %>

  <br />
  <%= link_to "Back to Pattern List", patterns_path %>
