<p><%= link_to "Next Pattern", patterns_url(@pattern.next), :class => "next" %></p>
<p><%= link_to "Previous Pattern", patterns_url(@pattern.prev), :class => "prev" %></p>

<div class="patts">

<h2><%= @pattern.name %></h2>

<h3>Materials and notions:</h3>
  <p><%= @pattern.materials %></p>

<h3>Knitting Needles:</h3>
  <p><%= @pattern.needles %></p>

<h3>Yarns:</h3>
  <p><%= @pattern.yarn %></p>
  <p>Yarn weight: <%= @pattern.weight %></p>
  <p>Yarn quantity: <%= @pattern.quantity %></p>

<h3>Directions: </h3>
  <p><%= @pattern.content %></p>

</div>

  <h3>Comments</h3>

<div id="comments">
  <%= render 'comments/comments' %>
</div>

<%= form_for(@comment, :url => pattern_comments_path(@pattern)) do |f| %>
<%= f.text_area :content %>

<p><%= f.submit  %></p>
<% end %>

<h4>Click the button below if you want to <i>favorite</i> this </h4>
<h4>pattern or <i>remove</i> from favorite patterns: </h4>

  <% if !@favorited %>
    <%= button_to "Add to Favorites", favorite_pattern_path(@pattern), method: :put %>
  <% else %>
    <%= button_to "Delete from Favorites", unfavorite_pattern_path(@pattern), method: :delete %>
  <% end %>
  <br />

<h4>This pattern has been favorited <%= @pattern.favorites_count %> times. </h4><br />

<% if current_user == @pattern.user %>
  <br />
  <%= link_to "Edit this Pattern", edit_pattern_path %>
  <br />
  <%= link_to "Destroy", pattern_path, method: :delete, alert: { confirm: "Are you sure?" } %>
<% end %>
<br />
<%= link_to "Back to Pattern List", patterns_path %>
<br></br>
