<h3><%= @pattern.name %></h3>

<h5>Materials and notions:</h5>
<%= @pattern.materials %>

<h5>Knitting Needles:</h5>
<%= @pattern.needles %><br>

<h5>Yarns:</h5>
  <%= @pattern.yarn %><br>
weight: <%= @pattern.weight %>
qty: <%= @pattern.quantity %>


<p>Directions: </p>
<%= @pattern.content %><br></br>

<h2>Comments</h2>
<p><%= link_to "Add a Comment", new_pattern_comment_path(@pattern) %></p>

<ul class="comment_list">
  <%= render partial: "comments/comment", collection: @pattern.comments %>
</ul>

<% if current_user == @pattern.user %>

<br></br>
<%= link_to "Edit this Pattern", edit_pattern_path %>

<br></br>

<%= link_to "Destroy", pattern_path, method: :delete, alert: { confirm: "Are you sure?" } %>

<% end %>

<br></br>

<%= link_to "Back to Pattern List", patterns_path %>
