<% if current_user %>

<h3>Your Project</h3>

<p>Name: </p>
<%= @pattern.name %>

<p>Directions: </p>
<%= @pattern.content %>

<br></br>
<%= link_to "Edit this Pattern", edit_pattern_path %>

<br></br>

<%= link_to "Destroy", pattern_path, method: :delete, alert: { confirm: "Are you sure?" } %>

<% end %>

<%= link_to "Back", patterns_path %>
