<nav class="navbar-brand navbar-nav">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="mainNav">
      <div nav-link>
        <% if current_user %>
          <%= link_to "Sign Out", signout_path, method: :delete %><br />
          <%= link_to "Profile", current_user %><br />
          <%= link_to "Home Page", root_path %><br />
        <% else %>
          <br />
          <%= link_to "Sign In", signin_path %><br />
          <%= link_to "Sign Up", new_user_path %><br />
          <%= link_to "Log in with GitHub", "/auth/github" %>
          <br />
        <% end %>
      </div>
    </div>
  </div>
</nav>
